.div-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    div {
        font-size: xx-large;
        font-weight: 700;
        border: 5px solid black;
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 50px;

        button {
            padding: 50px;
        }
    }
}